@model FirstCoreApp.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Restaurants List";
}

<h1>All Restaurants</h1>
@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}
@*<table>
        @foreach (var restaurant in Model.Restaurants)
        {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a href="/home/details/@restaurant.Id">Details</a>
                @Html.ActionLink("Go", "Details", new { id = restaurant.Id})
                <a asp-action="Details" asp-route-id="@restaurant.Id">More</a>
            </td>
            <td>
                <a asp-page="/Restaurants/Edit" asp-route-id="@restaurant.Id">Edit</a>
            </td>
        </tr>
        }
    </table>*@

<div>
    <a asp-action="Create">Create</a>
</div>

@*@section footer {
    @Model.GreetingMessage
}*@