@model FirstCoreApp.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Restaurants List";
}

<h1>All Restaurants</h1>

<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a href="/home/details/@restaurant.Id">Details</a>
                @*@Html.ActionLink("Go", "Details", new { id = restaurant.Id})*@
                <a asp-action="Details" asp-route-id="@restaurant.Id">More</a>
            </td>
        </tr>
    }
</table>
<a asp-action="Create">Create</a>

@section footer {
    @Model.GreetingMessage
}